.email-block {
  padding: 10px 20px;
  margin-bottom: 10px;
  margin-right: 10px;

  font-size: 24px;
  background-color: #e0ebff;

  border-radius: 20px;
}

.email-block--invalid {
  text-decoration: underline wavy red;
}

.email-block__remove-button {
  padding-left: 10px;

  font-size: 24px;
  background-color: transparent;

  border: none;
  outline: none;
}
