.email-block {
  padding: 5px 10px;
  background-color: #e0ebff;
  border-radius: 10%;
}

.email-block--invalid {
  text-decoration: underline wavy red;
}

.email-block__remove-button {
  padding-left: 8px;
}
